doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')

    script(src='/js/lib/jquery.js')
    script(src='/js/db.js')
    script(src='/js/main.js')
  body
    block content

